In [35]:
from glob import glob
from os import listdir
from os.path import join
import pandas as pd
import numpy as np

In [12]:
group_sig_out_dir = './output/distance'

In [13]:
foo = listdir(group_sig_out_dir)

In [24]:
foo = ['k__Bacteria_p__Firmicutes_c__Clostridia_o__Clostridiales_f__Ruminococcaceae_g__Faecalibacterium',
       'k__Bacteria_p__Firmicutes_c__Clostridia_o__Clostridiales_f__Ruminococcaceae_g__Oscillospira',
       'k__Bacteria_p__Firmicutes_c__Clostridia_o__Clostridiales_f__Ruminococcaceae_g__Ruminococcus']

In [25]:
# grab tsv files
d = 'k__Bacteria_p__Firmicutes_c__Clostridia_o__Clostridiales_f__Ruminococcaceae_g__Ruminococcus'
bact_dfs = []
for d in foo:
    data_fp = join(group_sig_out_dir,
                   d,
                   'permanova',
                   'raw_data.tsv')
    
    d_df = pd.read_csv(data_fp, 
                       header=0,
                       sep='\t',
                       index_col=0)

    d_df['Bacterial_Genus'] = d
    
    bact_dfs.append(d_df)
    

# load group significance tsvs

In [29]:
combined_df = pd.concat(bact_dfs, ignore_index=True)

In [32]:
combined_df.head()

,SubjectID1,SubjectID2,Group1,Group2,Distance,Bacterial_Genus,Group1_category,Group2_category
0,100030.13393.SRR8978341,100030.13393.SRR8978283,chimp_DRC_wild_campbell,chimp_DRC_wild_campbell,0.666667,k__Bacteria_p__Firmicutes_c__Clostridia_o__Clo...,,
1,100030.13393.SRR8978287,100030.13393.SRR8978283,chimp_DRC_wild_campbell,chimp_DRC_wild_campbell,0.500000,k__Bacteria_p__Firmicutes_c__Clostridia_o__Clo...,,
2,100030.13393.SRR8978287,100030.13393.SRR8978341,chimp_DRC_wild_campbell,chimp_DRC_wild_campbell,0.333333,k__Bacteria_p__Firmicutes_c__Clostridia_o__Clo...,,
3,100030.13393.SRR8978285,100030.13393.SRR8978283,chimp_DRC_wild_campbell,chimp_DRC_wild_campbell,0.555556,k__Bacteria_p__Firmicutes_c__Clostridia_o__Clo...,,
4,100030.13393.SRR8978285,100030.13393.SRR8978341,chimp_DRC_wild_campbell,chimp_DRC_wild_campbell,0.454545,k__Bacteria_p__Firmicutes_c__Clostridia_o__Clo...,,

In [42]:
combined_pivot = combined_df.pivot_table(values='Distance',
                        index=['Group1', 'Group2'],
                        columns=['Bacterial_Genus'],
                        aggfunc=np.mean)

In [43]:
combined_pivot.head()

Bacterial_Genus                                     k__Bacteria_p__Firmicutes_c__Clostridia_o__Clostridiales_f__Ruminococcaceae_g__Faecalibacterium  \
Group1                  Group2
chimp_DRC_wild_campbell chimp_DRC_wild_campbell                                              0.481451
                        chimp_TZA_wild_moeller                                               0.677851
                        chimp_USA_captive_campbell                                           0.642566
                        chimp_USA_captive_moeller                                            0.637999
                        douc_SGP_captive_clayton                                             1.000000

Bacterial_Genus                                     k__Bacteria_p__Firmicutes_c__Clostridia_o__Clostridiales_f__Ruminococcaceae_g__Oscillospira  \
Group1                  Group2
chimp_DRC_wild_campbell chimp_DRC_wild_campbell                                              0.364725
                        chimp_TZA_wild_moeller                                               0.560355
                        chimp_USA_captive_campbell                                           0.694820
                        chimp_USA_captive_moeller                                            0.616432
                        douc_SGP_captive_clayton                                             0.867932

Bacterial_Genus                                     k__Bacteria_p__Firmicutes_c__Clostridia_o__Clostridiales_f__Ruminococcaceae_g__Ruminococcus
Group1                  Group2
chimp_DRC_wild_campbell chimp_DRC_wild_campbell                                              0.432855
                        chimp_TZA_wild_moeller                                               0.673346
                        chimp_USA_captive_campbell                                           0.868096
                        chimp_USA_captive_moeller                                            0.867425
                        douc_SGP_captive_clayton                                             0.913012

In [44]:
combined_pivot['Group1_category'] = ''
combined_pivot['Group2_category'] = ''

In [45]:
combined_pivot.reset_index(inplace=True)

In [46]:
combined_pivot.head()

Bacterial_Genus,Group1,Group2,k__Bacteria_p__Firmicutes_c__Clostridia_o__Clostridiales_f__Ruminococcaceae_g__Faecalibacterium,k__Bacteria_p__Firmicutes_c__Clostridia_o__Clostridiales_f__Ruminococcaceae_g__Oscillospira,k__Bacteria_p__Firmicutes_c__Clostridia_o__Clostridiales_f__Ruminococcaceae_g__Ruminococcus,Group1_category,Group2_category
0,chimp_DRC_wild_campbell,chimp_DRC_wild_campbell,0.481451,0.364725,0.432855,,
1,chimp_DRC_wild_campbell,chimp_TZA_wild_moeller,0.677851,0.560355,0.673346,,
2,chimp_DRC_wild_campbell,chimp_USA_captive_campbell,0.642566,0.694820,0.868096,,
3,chimp_DRC_wild_campbell,chimp_USA_captive_moeller,0.637999,0.616432,0.867425,,
4,chimp_DRC_wild_campbell,douc_SGP_captive_clayton,1.000000,0.867932,0.913012,,

In [70]:
combined_pivot.loc[combined_pivot['Group1'].str.contains('human'),
                   'Group1'] = combined_pivot.loc[combined_pivot['Group1'].str.contains('human'),
                   'Group1'].apply(lambda x: "{}{}".format(x,'_na_na'))

In [71]:
combined_pivot.loc[combined_pivot['Group2'].str.contains('human'),
                   'Group2'] = combined_pivot.loc[combined_pivot['Group2'].str.contains('human'),
                   'Group2'].apply(lambda x: "{}{}".format(x,'_na_na'))

In [76]:
combined_pivot[['Group1_sp',
                'Group1_loc',
                'Group1_status',
                'Group1_study']] = combined_pivot['Group1'].str.split('_', expand=True)

In [77]:
combined_pivot[['Group2_sp',
                'Group2_loc',
                'Group2_status',
                'Group2_study']] = combined_pivot['Group2'].str.split('_', expand=True)

In [78]:
combined_pivot

Bacterial_Genus,Group1,Group2,k__Bacteria_p__Firmicutes_c__Clostridia_o__Clostridiales_f__Ruminococcaceae_g__Faecalibacterium,k__Bacteria_p__Firmicutes_c__Clostridia_o__Clostridiales_f__Ruminococcaceae_g__Oscillospira,k__Bacteria_p__Firmicutes_c__Clostridia_o__Clostridiales_f__Ruminococcaceae_g__Ruminococcus,Group1_category,Group2_category,Group1_sp,Group1_loc,Group1_status,Group1_study,Group2_sp,Group2_loc,Group2_status,Group2_study
0,chimp_DRC_wild_campbell,chimp_DRC_wild_campbell,0.481451,0.364725,0.432855,wild,wild,chimp,DRC,wild,campbell,chimp,DRC,wild,campbell
1,chimp_DRC_wild_campbell,chimp_TZA_wild_moeller,0.677851,0.560355,0.673346,wild,wild,chimp,DRC,wild,campbell,chimp,TZA,wild,moeller
2,chimp_DRC_wild_campbell,chimp_USA_captive_campbell,0.642566,0.694820,0.868096,wild,captive,chimp,DRC,wild,campbell,chimp,USA,captive,campbell
3,chimp_DRC_wild_campbell,chimp_USA_captive_moeller,0.637999,0.616432,0.867425,wild,captive,chimp,DRC,wild,campbell,chimp,USA,captive,moeller
4,chimp_DRC_wild_campbell,douc_SGP_captive_clayton,1.000000,0.867932,0.913012,wild,captive,chimp,DRC,wild,campbell,douc,SGP,captive,clayton
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,human_USA_na_na,gorilla_DRC_wild_campbell,0.727807,0.936707,0.978701,human,wild,human,USA,na,na,gorilla,DRC,wild,campbell
165,human_USA_na_na,gorilla_USA_captive_campbell,0.360725,0.808846,0.952457,human,captive,human,USA,na,na,gorilla,USA,captive,campbell
166,human_USA_na_na,howler_CRI_captive_clayton,1.000000,0.943798,0.938419,human,captive,human,USA,na,na,howler,CRI,captive,clayton
167,human_USA_na_na,howler_CRI_wild_clayton,1.000000,1.000000,0.999935,human,wild,human,USA,na,na,howler,CRI,wild,clayton
168,human_USA_na_na,human_USA_na_na,0.396435,0.619901,0.661138,human,human,human,USA,na,na,human,USA,na,na